In [1]:
import pandas as pd

In [2]:
date = pd.read_pickle("./data/date.pkl")
date

  id day month  year weekday
1  1   2    11  2021       2

In [3]:
card = pd.read_pickle("./data/card.pkl")
card

  id             name   expansion  rarity
1  1  Skyshroud Claim  Battlebond  Common

In [4]:
seller = pd.read_pickle("./data/seller.pkl")
seller

Empty DataFrame
Columns: [id, name, typemember_since, country, address]
Index: []

In [5]:
card_stats = pd.read_pickle("./data/card_stats.pkl")
card_stats

EOFError: Ran out of input

In [6]:
sale_offer = pd.read_pickle("./data/sale_offer.pkl")
sale_offer

Empty DataFrame
Columns: [id, seller_id, price, card_id, card_condition, card_language, is_foiled, amount, date_id]
Index: []